.flex {
  display: flex;
  justify-content: space-between;
}

.flex_column {
  flex-direction: column;
}

.item {
  max-width: 288px;
}

.date {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.data {
  margin-top: 8px;
  justify-content: flex-start;
  gap: 11px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  text-align: start;
}

.image {
  width: 93px;
  height: 95px;
}

.description {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.title {
  margin: 0;
  text-decoration: underline;
}

.button {
  margin-top: 17px;
  background: #186dd6;
  border: none;
  border-radius: 24px;
  width: 110px;
  height: 24px;
  color: #fff;
  font-size: 11px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  opacity: 0.8;
}
